.container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.label {
    margin-bottom: 4px;
}

.searchBox {
    width: 270px;
    height: 24px;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0;
}

.searchBox:focus,
.searchBox:hover {
    border: 1px solid #007bff;
    border-radius: 4px;
}