.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.link {
    font-weight: 700;
}

.link:hover {
    text-decoration: underline;
}